.messageCard {
    display: flex;
    align-items: center;
    min-width: 200px;
    justify-self: start;
}
.myMessageCard {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-self: end;
}
.userPhoto {
    height: 50px;
    width: 50px;
}

.message {
    border-radius: 5px;
    background-color: #dcedc8;
    margin: 0 10px;
    padding: 3px 5px;

}
.myMessage {
    border-radius: 5px;
    background-color: #b2ebf2;
    margin: 0 10px;
    padding: 3px 5px;

}

.message p, .myMessage p {
    color: #37474f;
    margin: 0;
    word-break: break-word;
}
.message h5, .myMessage h5 {
    color: #00838f;
    margin: 0;
}