.newsFeed {
  grid-area: 1 / 2 / 1 / 3;
  margin: 20px auto;
  border-radius: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
  padding-bottom: 20px;
}
.posts {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 20px;

}

/* Responsive */


@media screen and (max-width: 1000px) {
  .newsFeed {
    grid-template-columns: 1fr;
  }
}

/* 768x - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 0px - 576px */
@media screen and (max-width: 576px) {

}