.commentCard {
    display: flex;
    margin: 10px 0;
}

.user img {
    height: 40px;
    border-radius: 20px;
}

.userDesc {
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
}

.actionTime {
    display: block;
}

.commentArea {
    width: 100%;
    margin-left: 10px;
}
