
.dialog {
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.dialog img {
    height: 50px;
    border-radius: 25px;
}

.user {
    margin-left: 5px;
}

.active {
    display: block;
    padding-bottom: 1px;
    background-color: #50b5ff;
    border-radius: 5px;
}