.dialogs {
    height: 80vh;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px -10px #c6c6c6;
    max-width: 1200px;
    grid-area: 1 / 2 / 1 / 3;

}



