.aboutMe {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;
}

.block {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-auto-rows: 1fr;
    padding: 0 20px;
}
.infBlock {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-auto-rows: 60px;
    padding: 0 20px;
}
.title {
    font-size: 20px;
    grid-area: 1 /1 /2/1;
    border-bottom: 1px solid #50b5ff;
    margin: 0 20px 10px 20px;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    padding: 0 20px
}

.contact {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.contact img {
    height: 40px;
    width: 40px;
}

.button {
    grid-area: 2/ 1/ 2/ 3;
    margin: 20px auto 0;
}

/*AboutMeForm*/
.input, .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.input input {
    width: 230px;
}
.fieldTitle {
    display: flex;
    align-items: center;
}

.attention {
    position: absolute;
    bottom: 250px;
    width: 380px;
    top: calc(100% + 3px);
    left: 3px;
}

.attention span {
    color: red;
    font-size: 12px;
}

h4, p {
    margin: 0;
}

/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1000px) {
    .button {
        grid-area: 2/ 2/ 2/ 3;
    }
    .input input {
        width: auto;
    }
}

/* 768x - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 0px - 576px */
@media screen and (max-width: 576px) {

}