.profile {
    grid-area: 1 / 2 / 1 / 3;
    margin: 20px auto;
    border-radius: 5px;
    width: 100%;
}

.userInfo {
    position: relative;
    background-color: white;
    border-radius: 5px;
}

.topSection {
    height: 70%;
}

.background {
    width: 100%;
    border-radius: 5px;
    transition: all 0.8s ease;
}

.userPhoto {
    width: 120px;
    position: absolute;
    bottom: 16%;
    left: calc(50% - 60px);
}
.userName{
    width: 300px;
    position: absolute;
    bottom: 2%;
    left: calc(50% - 150px);
    text-align: center;
}
.bottomSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
}

.contacts {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.contacts img {
    height: 32px;
    width: 32px;
    margin: 0 10px;
}
.photoInput {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}
.input {
    width: 250px;
}

.activity {
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
}
.posts {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 20px;
}
/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .profile {
        max-width: 800px;
    }
}

/* 768x - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 0px - 576px */
@media screen and (max-width: 576px) {

}