.profile {
  max-width: 1000px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
}
.header {
  height: 25%;
  position: relative;
}
.topSection {
  height: 70%;
}
.background {
  width: 100%;
  border-radius: 5px;
}
.user {
  position: absolute;
  bottom: 5%;
  width: 100%;
  justify-items: center;
}
.userName {
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.userPhoto {
  margin: 0 auto;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  cursor: pointer;
}
.bottomSection {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.links {
  display: flex;
  align-items: center;
}
.links img {
  height: 32px;
  width: 32px;
  border-radius: 5px;
  margin: 0 5px;
}
.activityInfo {
  display: flex;
  align-items: center;
}
.info {
  margin: 0 5px;
}
.infoTitle {
  font-size: 12px;
  text-align: center;
}
.infoCount {
  font-size: 12px;
  text-align: center;
}

/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .profile {
    max-width: 800px;
  }
}

/* 768x - 992px */
@media screen and (max-width: 992px) {

}
/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 0px - 576px */
@media screen and (max-width: 576px) {

}