.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.searchInput {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 400px;
}
