.header {
  grid-area: header;
  align-self: start;
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 15px;
  box-shadow: 0px 10px 15px -10px #c6c6c6;
}
.titleContainer {
  justify-self: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  cursor: pointer;
}
.logo {
  height: 45px;
}
.title {
  font-size: 28px;
  color: #3f414d;
}
.menu {
  height: 20px;
}
.search {
  justify-self: center;
  padding: 5px 0px;
}
