.typeCommentBlock {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.options {
  display: flex;
}
.typeCommentForm {
  width: 100%;
}
.typeCommentInput {
  width: 100%;
  min-height: 40px;
  border: 1px solid #a09e9e;
  outline: #50b5ff;
  padding: 0 10px;
  border-radius: 5px;
}
.send {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #50b5ff;
  height: 40px;
}
.send img {
  height: 20px;
  margin-right: 10px;
}
.send button {
  border: none;
  background: none;
  color: white;
}
