.loginPage {
    margin: 0 auto;
    grid-area: 1 / 2 / 1 / 3;
}

.login {
    margin: 20px auto;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 15px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.input {
    margin: 25px 10px 0;
    position: relative;
}
.captcha {
    display: flex;
    align-content: center;
    justify-content: center;
}
.captcha img {
    height: 75px;
    width: 150px;
}
.attention {
    position: absolute;
    bottom: 250px;
    width: 380px;
    top: calc(100% + 3px);
    left: 3px;
}

.attention span {
    color: red;
    font-size: 12px;
}
