.newPost {
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 0 20px -10px #c6c6c6;
}
.titleBlock {
  padding: 15px;
}
.title {
  font-size: 20px;
}
.post {
  padding: 15px;
  display: flex;
  align-items: center;
}
.post img {
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.optionsBlock {
  display: flex;

  padding: 0 15px;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 10px;
}
.options img {
  height: 20px;
  cursor: pointer;
}
.options a {
  margin: 10px;
  color: #50b5ff;
}
