.newPostForm {
    width: 100%;
}
.form {
    width: 100%;
    display: flex;
    align-items: center;
}
.input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
    padding-left: 20px;
    align-content: center;
}
.send {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #50b5ff;
    height: 40px;
    padding: 10px;
    margin-left: auto;
}
.send img {
    height: 20px;
    margin-right: 10px;
}
.send button {
    border: none;
    background: none;
    color: white;
}