.messageCard {
    display: flex;
    align-items: center;
    margin: 10px;
}

.user img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.user span {
    display: block;
    text-align: center;
    width: 50px;
    font-size: 12px;
}

.content {
    border-radius: 10px;
    background-color: #50b5ff;
    margin: auto 10px;
    padding: 10px;
}

.message {
    color: white;
}