.newMessageForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.options {
    display: flex;
}
.form {
    display: flex;
    width: 100%;
}

.input {
    width: 100%;
    min-height: 40px;
    border: 1px solid #a09e9e;
    outline: #50b5ff;
    padding: 0 10px;
    border-radius: 5px;
}

.send {
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #50b5ff;
    height: 40px;
    padding: 10px;
}

.send img {
    height: 20px;
    margin-right: 10px;
}

.send button {
    border: none;
    background: none;
    color: white;
}
