.footer {
    grid-area: footer;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-self: end;
}
.footerBlock {
    width: 50%;
    padding: 15px 30px;
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}