
.userBlock {
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    display: flex;
}

.user {
    justify-items: center;
}

.user img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}

.btnBlock {
    margin-top: 15px;
    text-align: center;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #50b5ff;
    overflow: hidden;
    outline: none;
    border: none;
    color: white;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #1295ee;
}
.btn:disabled {
    background: gray;
}

.description {
    margin-left: 10px;
}

.userName {
    font-size: 20px;
    cursor: pointer;
}

.location {
    color: #3f414d;
    font-size: 14px;
}

.status {
    font-size: 14px;
}



