* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

p, span {
    font-weight: 400;
    font-size: 14px;
    color: #777d74;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #3f414d;
}

body {
    background-color: #f3f3f3;
}

.app {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header"
    "nav main sidebar";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 250px 1fr 250px;
    overflow-y: scroll;
}

.header {
    grid-area: header;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 18px;
}
.nav {
    grid-area: nav;
    align-items: start;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: inset 0px 2px 15px -10px #c6c6c6;
}
.nav a {
    text-decoration: none;
}
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: inset 0px 2px 15px -10px #c6c6c6;
    overflow: auto
}
.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 20fr;
    grid-template-columns: 1fr 1000px 1fr;
    overflow: auto;
    background-color: #f3f3f3;
    border-top: 2px solid #f3f3f3;
    box-shadow: inset 0 0 15px 0 #c6c6c6;
}

/*Scroll-bar*/
::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 4px;
    background-color: #d7d5d5;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #85878f;
}
::-webkit-resizer {
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}
::-webkit-scrollbar {
    width: 4px;
}


/* Responsive */

@media screen and (max-width: 1520px) {
    .main{
        grid-template-columns: 1fr 800px 1fr;
    }
}
@media screen and (max-width: 1320px) {
    .app {
        grid-template-columns: 90px 1fr 90px;
    }
}
/* 992px - 1200px */
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1000px) {
    .main{
        grid-template-columns: 1fr 600px 1fr;
    }
}

/* 768x - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 0px - 576px */
@media screen and (max-width: 576px) {

}