* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777d74;
}
/*убрать скролл*/
* ::-webkit-scrollbar { width: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #3f414d;
}

hr {
  border: none;
  color: #50b5ff;
  background-color: #cecece;
  height: 1px;
  width: 95%;
  margin: auto;
}
body {
  background-color: #fafafb;
}

img {
  display: block;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main sidebar"
    "nav footer sidebar";
  grid-template-rows: 80px 1fr 40px;
  grid-template-columns: 250px 1fr 250px;
}
.content {
  grid-area: main;
}

/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .app {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header"
    "nav main sidebar"
    "nav footer sidebar";
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns: 80px 1fr 80px;
  }
}

/* 768x - 992px */
@media screen and (max-width: 992px) {

}
/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 0px - 576px */
@media screen and (max-width: 576px) {

}