.corona {
    grid-area: 1 / 2 / 1 / 3;
    margin: 20px auto;
    border-radius: 5px;
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 20px;
}
.block {
    grid-area: 1 / 1 / 1 / 3;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 20px -10px #c6c6c6;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px;
}
.statistic {

    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 20px -10px #c6c6c6;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px;
}
.title {
    border-bottom: 1px solid #40a9ff;
    margin: 0;
    padding: 0;
}
.string {
    display: grid;
    grid-template-columns: 125px min-content;
    grid-auto-rows: auto;
    grid-gap: 10px;
}
